<div class="container-new-cv-generation">
  <div class="loader">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <p class="loading-text p-5">Work in Progress...</p>
  <%= button_to 'Generate',  job_offer_cv_generations_path(@job_offer), method: :create, confirm: 'This can take few seconds' %>
</div>
