<div data-controller="refresh-show-cv">
  <% if @cv.present?%>
    <div data-refresh-show-cv-target="cv">
      <%# <%= link_to "Download this CV !", download_cv_path, class: "btn btn-primary" %> %>
      <%== @cv.content %>
    </div>
  <% else %>
    <div class="container-new-cv-generation">
      <div class="loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="loading-text">Work in Progress</div>
    </div>
  <% end %>
</div>
