  <% if @cv.present? %>
  <%== @cv.content %>
  <% else %>
    <div class="container-new-cv-generation">
  <div class="loader">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <p class="loading-text p-5">Work in Progress...</p>
</div>
  <% end %>
