// Specific CSS for your home-page

.waves-container {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.waves {
  width: 100%;
  height: 100%;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

//====================================================================

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Assurez-vous que le body prend au moins toute la hauteur du viewport */
  margin: 0; /* Enlève les marges par défaut */
}

.hero-section {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 4rem 0;
  position: relative;
  overflow: hidden;

  .hero-content {
    position: sticky;
    z-index: 99;
  }
  .hero-content h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
  }

  .hero-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  .cta-button {
    display: inline-block;
    background-color: #6200EE; // Replace with the actual color of the button
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    border-radius: 30px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid #000; /* couleur de la bordure et épaisseur */
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken(#6200EE, 10%);
      transform: scale(1.05);
      box-shadow: 2px 5px 50px rgba(219, 143, 0, 0.4);
    }
  }
}

.h2-features{
  background-color: #000;
  color: white;
  font-size: 1.3rem;
  padding-left: 2rem;
}

.service-features {
  background: linear-gradient(to bottom, #4435C0, #000); // Assuming a dark theme from the image
  padding: 3rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0 0 30px 30px; // Arrondi seulement en bas à gauche et en bas à droite

  .feature {
    background-color: #333; // Dark background for the feature
    color: #fff;
    padding: 1.2rem;
    border-radius: 20px;
    width: 20%; // Adjust width as needed
    margin: 0.5rem;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ajoute une ombre pour un effet de profondeur */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transition douce pour le survol */

    p {
      margin: 0;
    }
  }
}

/* Style au survol pour ajouter une interaction visuelle */
.feature:hover {
  background-color: rgb(127, 26, 199); /* Change la couleur de fond au survol */
  box-shadow: 0 12px 20px rgba(81, 1, 103, 0.885); /* Ombre plus prononcée pour l'effet au survol */
  transform: scale(1.025);
}

.resume-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  background-color: #f8f8f8; // or any color that matches your design
}

.resume-content {
  max-width: 50%;
}

.resume-content h2 {
  font-size: 3rem;
  color: #000;
  margin-bottom: 1rem;
}

.resume-content p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 2rem;
}

.generate-button {
  padding: 1rem 2rem;
  background-color: #6200EE; // Use the color from your branding
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
  font-weight: bold;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken(#6200EE, 10%);
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(98, 0, 238, 0.4);
  }
}

.resume-image {
  max-width: 50%;
  text-align: right;

  img {
    width: 70%;
    height: auto;
  }
}

.resume-video {
  width: 100%; /* 100% de la largeur de son conteneur */
  height: auto; /* Hauteur automatique pour conserver le ratio d'aspect */
  display: block; /* Assurez-vous que la vidéo est un élément de bloc */
  margin: 0 auto; /* Centrer la vidéo horizontalement */
}

.standout-section {
  text-align: center;
  padding: 4rem 0;
  background: linear-gradient(to bottom, #f8f8f8, white);
}

.standout-heading {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

.feature-cards {
  display: flex;
  justify-content: center;
  gap: 2rem; /* Adjust the space between cards */

  .card {
    width: calc(33.333% - 2rem); /* Adjust width to account for gap */
    background: #fff; /* Assuming a white card */
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* subtle shadow */

    .icon {
      // Add styles for your icon here
      margin-bottom: 3rem;
    }

    h3 {
      margin-bottom: 1rem;
    }

    p {
      color: #666; /* Dark grey text color */
      margin-bottom: 1rem;
    }

    .learn-more-link {
      color: #6200EE; /* Use your brand color */
      text-decoration: none;
      font-weight: bold;
      position: absolute; /* Position absolue pour le placer au bas de la carte */
      bottom: 1rem; /* Distance du bas de la carte */
      left: 50%; /* Démarre à 50% de la gauche */
      transform: translateX(-50%); /* Centrer parfaitement en ajustant de la moitié de sa propre largeur */
    }
  }
}

.card .icon img {
  width: 64px; /* Adjust this value to scale down the size of your icons */
  height: auto; /* This will maintain the aspect ratio of the image */
}

.see-all-features-link {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  background-color: transparent;
  color: #6200EE; /* Use your brand color */
  border: 2px solid #6200EE; /* Border color */
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
}

.see-all-features-link:hover {
  border: 2px solid #000000; /* Border color */
  color: white;
  background: linear-gradient(to right,#000000, #000000);
}

.testimonial-section {
  text-align: center;
  padding: 4rem 0;
  background-color: #f0f0f0; // Assuming a light gray background
  position: relative; // For absolute positioning of navigation arrows
}

.testimonial-heading h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.testimonial-slider {
  position: relative;
  overflow: hidden; /* Cache les témoignages qui dépassent */
  width: 100%; /* Largeur du conteneur des témoignages */
}

.testimonial {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  margin: 1rem auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.testimonial blockquote {
  font-style: italic;
  color: #333;
}

.testimonial-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.testimonial-image img{
  width: 50px;
  height: 50px;
  border-radius: 50%; // Circular image
  margin-right: 1rem;
}

.testimonial-name {
  font-weight: bold;
}

.testimonial-rating {
  color: #FFD700; // Gold color for star rating
}

.testimonial-navigation {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.testimonial-prev,
.testimonial-next {
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem;
}



.carousel-item {
  background-color: white;
  padding-bottom: 3rem;
}

.testimonial {
  background: #000; /* arrière-plan noir */
  color: #fff; /* texte blanc */
  padding: 20px; /* espace intérieur pour le padding */
  border-radius: 10px; /* bords arrondis */
  position: relative; /* pour positionner les éléments absolument à l'intérieur */
  margin: auto; /* pour centrer dans le carousel */
  width: 600px; /* largeur maximale du témoignage */
  height: 350px;
  text-align: left; /* alignement du texte à gauche */
}

.testimonial blockquote {
  font-size: 1.2rem; /* taille de la police du bloc de citation */
  line-height: 1.5; /* espacement des lignes */
  position: relative; /* position relative pour les pseudo-éléments */
  padding: 20px; /* espace intérieur pour le padding */
  margin: 0; /* annuler la marge par défaut du navigateur */
  color: white;
}

.testimonial blockquote::after {
  content: open-quote; /* utilise les guillemets par défaut */
  font-size: 5rem; /* grande taille pour les guillemets */
  position: absolute; /* positionnement absolu */
  color: rgba(255, 255, 255, 0.5); /* couleur blanche translucide pour les guillemets */
}

.testimonial-rating {
  font-size: 1.5rem;
  padding: 1rem;
}
