<header class="navbar">
  <a href="/" class="brand-title">CuryAi</a>
  <nav>
    <a href="/login" class="login-button">Log In</a>
    <span class="button-space"></span>
    <a href="/signup" class="signup-button">Sign Up</a>
  </nav>
</header>
