<body class="body-cv">
    <div class="cv-container">
      <div class="left-column">
        <div class="portrait">
          <%= image_tag("image-pdf-cv-test.png", alt: "Profil picture of your CV") %>
        </div>
        <div class="section">
          <p>
            <i class="icon fab fa-linkedin text-darkblue"></i> pierre-gomba
          </p>
        </div>
        <div class="section">
          <h2>À PROPOS</h2>
          <p>
            <strong>Front-end</strong> development is one of my passions: I enjoy crafting or envisioning modern interfaces, making them responsive, and adding elegance with smooth animations. My two favorite technologies are Angular and Bootstrap, which I've been using for over 6 years. I'm also Fullstack: proficient in PHP, MySQL, and Doctrine.
          </p>

        </div>
        <div class="section">
          <h2>Skills</h2>
          <ul class="skills">
            <li><i class="icon fas fa-check-circle text-darkblue"></i> <strong>Angular &#124; Typescript</strong></li>
            <li><i class="icon fas fa-check-circle text-darkblue"></i> <strong>Bootstrap</strong></li>
            <li><i class="icon fas fa-check-circle text-darkblue"></i> <strong>HTML5 &#124; CSS3 &#124; SASS</strong></li>
            <li><i class="icon fas fa-check-circle text-darkblue"></i> <strong>Javascript</strong></li>
            <li><i class="icon fas fa-check-circle text-darkblue"></i> <strong>jQuery</strong></li>
            <li><i class="icon fas fa-check-circle text-darkblue"></i> <strong>npm &#124; Webpack</strong></li>
            <li><i class="icon fas fa-check-circle text-darkblue"></i> PHP</li>
            <li><i class="icon fas fa-check-circle text-darkblue"></i> Zend Framework</li>
            <li><i class="icon fas fa-check-circle text-darkblue"></i> MySQL</li>
            <li><i class="icon fas fa-check-circle text-darkblue"></i> Git &#124; Github</li>
          </ul>
        </div>
        <div class="section">
          <h2>Languages</h2>
          <p>
            French, level
            <br>
            English, Level
          </p>
        </div>
        <div class="section">
          <h2>Hobbies</h2>
          <p>
            Video games, playing and developing
            <br>
            Music, listening and composition
            <br>
            Art
            <br>
            Sports
            <br>
            Informatic
          </p>
        </div>
      </div>
      <div class="right-column">
        <div class="header">
          <h1>Zoé <span class="text-blue text-uppercase">Cabanie</span></h1>
          <p>Freelance Front-end Developer</p>
          <ul class="infos">
            <li><i class="icon fas fa-at text-blue"></i> <a href="mailto:zoe.cabanie@gmail.com">zoe.cabanie@gmail.com</a></li>
            <li><i class="icon fas fa-phone text-blue"></i> 06 32 45 12 67</li>
            <li><i class="icon fas fa-map-marker-alt text-blue"></i> 123 rue Sainte-Catherine, 33000 Bordeaux</li>
          </ul>
        </div>
        <div class="content">
          <div class="section">
            <h2>Work <br><span class="text-blue">experiences</span></h2>
            <p>
              <strong>2015 <i class="fas fa-long-arrow-alt-right"></i> 2021</strong>
              <br>
              Fullstack Developer full-time at <em>Webadev SPRL</em>
            </p>
            <ul class="experience-list">
              <li>Website, e-shop, interface, and web application developments using Angular and Bootstrap</li>
              <li>Integration of Photoshop templates, Illustrator, Sketch, Figma</li>
              <li>Animations CSS / JS</li>
              <li>Responsive design</li>
              <li>UI / UX Design</li>
              <li>Projets on npm and Webpack</li>
              <li>Collaboration with otehr graphic studios </li>
              <li>Performance optimization</li>
              <li>Development of reusable templates and modules</li>
              <li>Team projects, daily use of SVN, Git, and Github</li>
            </ul>
          </div>
          <div class="section">
            <p>
              <strong>2021</strong>
              <br>
              Freelance activity
            </p>
            <ul class="experience-list">
              <li>Freelance Front-end Developer</li>
              <li>Unity Developer / Sound Designer</li>
            </ul>
          </div>
          <div class="section">
            <h2>Education <br><span class="text-blue">& formations</span></h2>
            <p>
              <strong>2015 <i class="fas fa-long-arrow-alt-right"></i> 2019</strong>
              <br>
              <em>Bachelor's degree in Business Informatics</em> Graduate, Saint Laurent Institute
            </p>
            <p>
              <strong>2015</strong>
              <br>
              <em>Le Wagon - Web development</em>, Qualifying training as a Web Developer
            </p>
            <p>
              <strong>2013 <i class="fas fa-long-arrow-alt-right"></i> 2014</strong>
              <br>
              <em>Bachelor's degree in Humanities</em>, High school from Bordeaux
            </p>

          </div>
          <div class="section">
            <h2>Others <br><span class="text-blue">experiences</span></h2>
            <p>
              Driver's license B, own a car
              <br>
              Scout Leader for 6 years
              <br>
              Holiday Camp Animator Certificate
            </p>
          </div>
        </div>
      </div>
    </div>
</body>
