<div class="body-cv">
    <div class="cv-container">
      <div class="left-column">
        <div class="portrait">
          <%= image_tag("image-pdf-cv-test.png", alt: "Profil picture of your CV") %>
        </div>
        <div class="section">
          <p>
            <i class="icon fab fa-linkedin text-darkblue"></i> Prénom NOM
          </p>
        </div>
        <div class="section">
          <h2>À PROPOS</h2>
          <p>
          Small description about my self my professionnal profile
          </p>

        </div>
        <div class="section">
          <h2>Skills</h2>
          <ul class="skills">
            <li><i class="icon fas fa-check-circle text-darkblue"></i> <strong>Skill</strong></li>
            <li><i class="icon fas fa-check-circle text-darkblue"></i> <strong>Another Skills</strong></li>
          </ul>
        </div>
        <div class="section">
          <h2>Languages</h2>
          <p>
            French, level
            <br>
            English, Level
          </p>
        </div>
        <div class="section">
          <h2>Hobbies</h2>
          <p>
            Video games, playing and developing
            <br>
            Music, listening and composition
            <br>
            Art
            <br>
            Sports
            <br>
            Informatic
          </p>
        </div>
      </div>
      <div class="right-column">
        <div class="header">
          <h1>Prénom <span class="text-blue text-uppercase">NOM</span></h1>
          <p>Poste de job offer</p>
          <ul class="infos">
            <li><i class="icon fas fa-at text-blue"></i> <a href="email">email</a></li>
            <li><i class="icon fas fa-phone text-blue"></i>numéro de téléphone</li>
            <li><i class="icon fas fa-map-marker-alt text-blue"></i> adresse</li>
          </ul>
        </div>
        <div class="content">
          <div class="section">
            <h2 class="text-blue">experiences</h2>
            <p>
              <strong>starting date <i class="fas fa-long-arrow-alt-right"></i> ending date</strong>
              <br>
              intitulé du poste <em>entreprise</em>
            </p>
            <ul class="experience-list">
              <%# first experience example %>
              <li>Website, e-shop, interface, and web application developments using Angular and Bootstrap</li>
              <li>Integration of Photoshop templates, Illustrator, Sketch, Figma</li>
              <li>Animations CSS / JS</li>
              <li>Responsive design</li>
              <li>UI / UX Design</li>
              <li>Projets on npm and Webpack</li>
              <li>Collaboration with otehr graphic studios </li>
              <li>Performance optimization</li>
              <li>Development of reusable templates and modules</li>
              <li>Team projects, daily use of SVN, Git, and Github</li>
            </ul>
          </div>
          <div class="section">
            <p>
              <strong>2021</strong>
              <br>
              Freelance activity
            </p>
            <ul class="experience-list">
              <%# second experience example %>
              <li>Freelance Front-end Developer</li>
              <li>Unity Developer / Sound Designer</li>
            </ul>
          </div>
          <div class="section">
            <h2>Education <br><span class="text-blue">& formations</span></h2>
            <p>
              <strong>starting date <i class="fas fa-long-arrow-alt-right"></i> ending date</strong>
              <br>
              <em>Bachelor's degree in Business Informatics</em> Graduate, Saint Laurent Institute
            </p>
            <p>
              <strong>2015</strong>
              <br>
              <em>Le Wagon - Web development</em>, Qualifying training as a Web Developer
            </p>
            <p>
              <strong>2013 <i class="fas fa-long-arrow-alt-right"></i> 2014</strong>
              <br>
              <em>Bachelor's degree in Humanities</em>, High school from Bordeaux
            </p>

          </div>
          <div class="section">
            <h2>Others <br><span class="text-blue">experiences</span></h2>
            <p>
              Driver's license B, own a car
              <br>
              Scout Leader for 6 years
              <br>
              Holiday Camp Animator Certificate
            </p>
          </div>
        </div>
      </div>
    </div>
</div>
