<h1>You will generate you CV based on that Offert :</h1>
<h3>Title</h3>
<%= @job_offer.title %>
<h3>Description</h3>
<%= @job_offer.description %>
<%= link_to "Edit this job offer", edit_job_offer_path(@job_offer), class: 'btn btn-primary' %>
<p>------------------------------------------------------------------------------------</p>
<%= link_to 'Generate', new_job_offer_cv_generation_path(@job_offer) %>
